.section1 {
    /* background: rgb(146, 40, 40); */
    width: 100%;
    height: 100%;
}

.top-rated {
    display: grid;
    background-color: rgb(170, 89, 89);
    height: 100%;
}

.top-rated h1 {
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
    font-family: "Ubuntu";
    font-weight: 900;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.cards {
    width: 300px;
    height: 400px;
    background-color: none;
    margin: 10px;
    position: relative;
    display: flex;
    transition: all 2s ease-in-out;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* 
.card-bodys {
    position: relative;
    border-radius: 10px;
    display: none;
    transition: all 5s ease-in-out;
    flex-direction: column;
    width: 250px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: -300px;
    background-color: rgba(0, 0, 0, 1);
    padding: 8px;
    color: #fff;
}

.card-bodys h4 {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0 10px 0;
    font-family: monospace;
} */


/* .card-bodys p {
    font-size: 0.8rem;
    font-family: Helvetica;
    font-weight: 500;
} */


/* .card-bodys .rating {
    font-size: 0.5rem;
    font-family: Helvetica;
    font-weight: 700;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;

} */


/* .card-bodys span {
    background-color: green;
    font-size: 1rem;
    border-radius: 10px;
    padding: 4px;
}

.cards img {
    object-fit: contain;
    object-position: center;
    width: inherit;
    border-radius: 30px;
    height: inherit;
}

.cards:hover .card-bodys {
    display: flex;
    transition: all 5s ease-in-out;
} */